@import "tailwindcss";

@keyframes slideUp {
    from { transform: translateY(200%); }
    to { transform: translateY(0); }
}

@theme {
    --color-bg: #1f1f31;
    --color-primary: #caaaff;
    --color-button: #30284a;
    --color-button-hover: #453e5c;
    --color-text: #e9e9ea;
    --color-ok: #4ab89a;
    --color-alert: #f08fa4;

    --animate-slide-up: slideUp 0.5s ease-out;
}
